nav {
  display: flex;
  align-content: center;
  justify-content: space-between;
}

nav>ul {
  display: flex;
  list-style: none;
  gap: .5rem;
}

nav>ul li {
  /* align-content: flex-end; */
}

nav>ul>li>a {
  text-decoration: none;
  color: #cb3233;
  background: #290707;
  padding: 0.5rem 1.6rem;
  border-radius: 5px;
  width: 5rem;
  border: 1px solid #cb3233;
}

nav>ul>li>a:hover {
  text-decoration: none;
  color: #ff703e;
  background: #1c0000;
  border: 1px solid #ff703e;
}

.ativo {
  color: tomato;
}